* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

[class*=col-]{
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  background-color: pink;
  height: 150px;
}

[class*=col-] p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nested > .col-lg-2, .nested > .col-lg-8, .nested .col-lg-6 {
  border: 1px solid white;
  background-color: #f07f80;
}

.nested > .col-lg-6 {
  background-color: #f07f80;
}

.nested {
  height: 100%;
}

.nested::after{
    content: "";
    display: table;
    clear: both;
}
